{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "extends": [
      "airbnb"
    ],
    "plugins": [
      "import",
      "react-hooks",
      "jsx-a11y"
    ],
    "rules": {
        "react/forbid-prop-types": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/prop-types": "off",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-curly-newline": "off",
        "react/jsx-wrap-multilines": "off",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-closing-bracket-location": "off",
        "react/jsx-closing-tag-location": "off",
        "react/jsx-curly-spacing": "off",
        "react/jsx-fragments": "off",
        "react/jsx-boolean-value": "off",
        "react/jsx-first-prop-new-line": "off",
        "react/jsx-max-props-per-line": "off",
        "react/jsx-tag-spacing": "off",
        "react/jsx-equals-spacing": "off",
        "react/jsx-curly-brace-presence": "off",
        "react/jsx-props-no-multi-spaces": "off",
        "react/jsx-child-element-spacing": "off",
        "react/jsx-no-useless-fragment": "off",
        "react/function-component-definition": "off",
        "react/no-array-index-key": "off",
        "react/button-has-type" : "off",
        "jsx-quotes": "off",
        "jsx-ally/no-static-element-interactions": "off",
        "jsx-ally/click-events-have-key-events": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "jsx-a11y/aria-role" :  "off",
        "no-multi-spaces" : "off",
        "no-unused-vars": "off",
        "no-useless-return" : "off",
        "no-param-reassign": "off",
        "no-console": "off",
        "no-underscore-dangle": "off",
        "no-trailing-spaces": "off",
        "no-multiple-empty-lines": "off",
        "no-lone-blocks": "off",
        "no-alert" : "off",
        "no-cond-assign" : "off",
        "no-constant-condition" : "off",
        "import/no-named-as-default" : "off",
        "object-curly-newline": "off",
        "linebreak-style": "off",
        "indent": "off",
        "consistent-return": "off",
        "comma-spacing": "off",
        "array-bracket-spacing": "off",
        "eol-last": "off",
        "quotes": "off",
        "semi-spacing": "off",
        "key-spacing": "off",
        "comma-dangle": "off",
        "object-curly-spacing": "off",
        "space-before-blocks" : "off",
        "keyword-spacing": "off",
        "brace-style": "off",
        "arrow-body-style": "off",
        "max-len": "off"
    }
  }